/** CSS STYLE **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #2a2626;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h1 span,
h2 span {
  color: #fe8a02;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;

  max-width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.header {
  background: #f5f4f0 url(../images/background.png) no-repeat 0 0;
  background-size: cover;
}

.header h1 {
  position: relative;
  z-index: 2;

  margin-bottom: 200px;
}

.article-item-img img {
  display: block;
  width: 100%;
  height: auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.header .container img {
  position: absolute;
  top: 55px;

  right: -166px;

  width: auto;

  height: 525px;
}

.text-block {
  display: flex;
  margin: 0 -15px;
}

.text-block-item {
  width: calc(50% - 30px);
  margin: 0 15px;

  line-height: 160%;
}

.text-block-item p {
  margin-bottom: 15px;

  line-height: 25.8px;
}

.btn {
  display: inline-block;

  margin-top: 23px;
  padding: 11px 24px;

  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;

  text-transform: uppercase;
  text-decoration: none;

  background: #fe8a02;
}

.btn:hover {
  background: #ea7600;
}

.video-block h2 {
  margin-bottom: 30px;

  text-align: center;
}

.video-block h4 {
  margin-bottom: 29px;

  color: #212529;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 160%;
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
  margin-bottom: -91px;
}

.video iframe {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.navigation {
  padding-top: 80px;

  background: #42413c;
}

.navigation-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.navigation-item {
  width: calc(33.3% - 30px);
  margin: 20px 15px 0 15px;

  text-decoration: none;

  background: #f5f4f0;
}

.navigation-item:not(.title) {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 20px 24px;
}

.navigation-item:not(.title):hover {
  background: #fe8a02;
}

.navigation-item .num {
  margin-bottom: 34px;

  color: #42413c;
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 70px;
}

.navigation-item-title {
  margin-bottom: 13px;

  color: #fe8a02;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 120%;
}

.navigation-item-text {
  color: #2a2626;
  font-size: 16px;
  line-height: 26px;
}

.navigation-item:not(.title):hover .num,
.navigation-item:not(.title):hover .navigation-item-title,
.navigation-item:not(.title):hover .navigation-item-text {
  color: #fff;
}

.navigation-item h2 {
  color: #fff;
  font-size: 52px;
  line-height: 120%;
}

.navigation-item.title {
  background: none;
}

.article {
  background: #f5f4f0 url(../images/background2.png) no-repeat 0 0;
}

.article-item {
  display: flex;

  margin-bottom: 101px;
}

.article-item-img {
  width: 100%;
  max-width: 578px;
  margin-right: 30px;
}

.article-item-content .title-small {
  color: #908d8b;
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 29px;
}

.article-item-content {
  max-width: calc(100% - 608px);
  padding-top: 2px;
}

.article-item-content h2 {
  margin-bottom: 30px;
}

.article-item-content .text {
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 41px;
}

.text-block-title {
  display: flex;

  align-items: center;

  margin-bottom: 20px;
  padding: 5px 10px;

  color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Open sans', sans-serif;
  line-height: 17px;
  text-transform: uppercase;

  background: #b09a81;
}

.article .container {
  padding-bottom: 81px;
}

.article-brown {
  background: #b09a81;
}

.article-brown .article-item {
  flex-direction: row-reverse;
}

.article-brown .article-item-img {
  margin-right: 0;
  margin-left: 30px;
}

.article-brown .article-item-content .title-small {
  color: #d7ccc0;
}

.footer-form h2 {
  padding: 17px 0 15px 0;

  color: #fff;
  font-size: 34px;
  line-height: 120%;
}

.article-brown .text-block,
.article-brown .article-item-content h2,
.article-brown .article-item-content .text {
  color: #fff;
}

.article-brown .text-block-title {
  color: #b09a81;

  background: #fff;
}

.footer-form {
  display: flex;

  margin-bottom: 75px;
  padding: 38px 55px 40px 55px;

  background: #42413c;
}

.footer-form-item {
  min-width: 485px;
  margin-left: 122px;
}

.footer-form-item-title {
  margin-bottom: 9px;

  color: #fff;
  font-size: 18px;
  line-height: 160%;
}

.footer-form-item-controls {
  display: flex;
}

.footer-form-item-controls input {
  width: calc(100% - 70px);
  height: 50px;

  padding: 0 15px;

  border: 1px solid #e3e3e3;

  background: #fff;
}

.footer-form-item-controls input::-webkit-input-placeholder,
.footer-form-item-controls input::-moz-placeholder,
.footer-form-item-controls input::placeholder {
  color: #757575;
  font-size: 13.1px;

  opacity: 0.2;
}

.footer-form-item-controls input:focus {
  outline: none;
}

.footer-form-item-controls button {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  width: 70px;
  height: 50px;

  border: 0;

  background: #fe8a02;
}

.footer-form-item-controls button::before {
  position: absolute;

  top: 50%;
  left: 50%;

  display: block;

  width: 24px;
  height: 24px;

  background: #fe8a02 url(../images/icon-send.svg) no-repeat 0 0;

  content: "";

  transform: translate(-50%, -50%);
}

.footer-form-item-desclaimer {
  padding-top: 2px;

  color: #fff;
  font-size: 12px;
  line-height: 160%;
}

.footer-form-item-desclaimer a {
  color: #fff;
}

.footer-link a {
  color: #007dc1;
  text-decoration: underline;
}

.footer-form-item-desclaimer a:hover {
  text-decoration: none;
}

.copyright {
  margin-bottom: 16px;

  color: #000;
  font-size: 14px;
  line-height: 160%;

  text-align: center;
}

.footer-link {
  margin-bottom: 16px;

  color: #000;
  font-size: 14px;
  line-height: 160%;

  text-align: center;
}

.footer-link a:hover {
  text-decoration: none;
}
