/** CSS STYLE **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans';
  color: #2A2626;
  font-size: 16px;
  line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Neucha', cursive;
  line-height: 1.2em;
}
h1 {
  font-size: 72px;
}
h1 span,
h2 span {
  color: #FE8A02;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}
.header {
  background: #F5F4F0 url(../images/background.png) no-repeat 0 0;
  background-size: cover;
}
.header h1 {
  position: relative;
  z-index: 2;
  margin-bottom: 200px;
}
.header .container img {
  width: auto;
  height: 525px;
  position: absolute;
  top: 55px;
  right: -166px;
}
.text-block {
  display: flex;
  margin: 0 -15px;
}
.text-block-item {
  width: calc(50% - 30px);
  margin: 0 15px;
}
.text-block-item p {
  margin-bottom: 15px;
}
.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 11px 24px;
  background: #FE8A02;
  display: inline-block;
  margin-top: 23px;
  text-decoration: none;
}
.btn:hover {
  background: #EA7600;
}
.video-block h2 {
  text-align: center;
  margin-bottom: 30px;
}
.video-block h4 {
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #212529;
  margin-bottom: 28px;
  font-family: 'Open Sans';
  font-weight: normal;
}
.video {
  display: flex;
  justify-content: center;
  margin-bottom: -91px;
}
.video iframe {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
.navigation {
  background: #42413C;
  padding-top: 80px;
}
.navigation-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.navigation-item {
  width: calc(33.3% - 30px);
  margin: 20px 15px 0 15px;
  background: #F5F4F0;
  text-decoration: none;
}
.navigation-item:not(.title) {
  padding: 24px 24px 20px 24px;
  display: flex;
  flex-direction: column;
}
.navigation-item:not(.title):hover {
  background: #FE8A02;
}
.navigation-item:not(.title):hover .num,
.navigation-item:not(.title):hover .navigation-item-title,
.navigation-item:not(.title):hover .navigation-item-text  {
  color: #fff;
}
.navigation-item h2 {
  font-size: 52px;
  line-height: 120%;
  color: #fff;
}
.navigation-item.title {
  background: none;
}
.navigation-item .num {
  font-family: 'Neucha';
  font-size: 64px;
  line-height: 70px;
  color: #42413C;
  margin-bottom: 35px;
}
.navigation-item-title {
  font-family: 'Neucha';
  font-size: 34px;
  line-height: 120%;
  color: #FE8A02;
  margin-bottom: 13px;
}
.navigation-item-text {
  font-size: 16px;
  line-height: 26px;
  color: #2A2626;
}